<launch>

<!-- Launch the grid map simple demo node -->
<node pkg="final_test" type="pedsim_test" name="pedsim_demo" output="screen">
        <param name="scene_left" value="-200" type="int"/>
        <param name="scene_top" value="-200" type="int"/>
        <param name="scene_width" value="400" type="int"/>
        <param name="scene_height" value="400" type="int"/>
        <param name="w1_x" value="-45" type="int"/>
        <param name="w1_y" value="0" type="int"/>
        <param name="w1_r" value="8" type="int"/>
        <param name="w2_x" value="-4" type="int"/>
        <param name="w2_y" value="0" type="int"/>
        <param name="w2_r" value="8" type="int"/>
</node>

<!-- Launch the grid map visualizer -->
<node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
	<rosparam command="load" file="$(find final_test)/config/map_show.yaml" />
</node>




<!-- Launch RViz with the demo configuration -->
<!--  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grid_map_demos)/rviz/grid_map_demo.rviz" />-->


</launch>
